.active {
  border-radius: 5px;
  background-color: #46221b;
  color: rgb(213, 203, 203);
}

.page-number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 5px;
}

.page-number:hover {
  background-color: #46221b;
  color: rgb(187, 187, 187);
}

.next {
  height: 30px;
  width: 30px;
  color: rgb(187, 187, 187);
}

.next:hover {
  background-color: #46221b;
  color: rgb(187, 187, 187);
}

.pervious {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  background-color: #2f1713;
}

.pervious:hover {
  background-color: #46221b;
  color: rgb(187, 187, 187);
}

.next {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  /* border: 1px solid #cdcdcd; */
  border-radius: 5px;
  background-color: #2f1713;
}

.pagination {
  display: flex;
  font-size: 16px;
  gap: 5px;
}
